 {% extends 'base.html' %}
 {% block 'content' %}
 <!-- Page Header -->


 <header class="masthead" style="background-image: url('/{{post.photo}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <span class="subheading"> {{ post.title }}</span>
                </div>
            </div>
        </div>
         <p class="post-meta"> <small> <span class="badge badge-pill badge-light">{% if post.read_time %}{{ post.time_to_read }}
        </span> reading time. {% endif %} Posted on
        {{ post.created_at }} </small></p>
    </div>
</header>
 <!-- Main Content -->
 <div class="container">
     <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
             <div class="post-preview">
               
                    
                     <p class="">
                         {{post.description | safe }}
                     </p>
               

             </div>
             <hr>


             <!-- Pager -->

         </div>
     </div>
 </div>
 {% endblock %}